---
import Layout from '../layouts/Layout.astro';
import Module from '../components/utils/Module.astro';
import SettingsButton from '../components/utils/SettingsButton';

let width = "70"
let height ="70"
---

<Layout title='Home'>    
    <SettingsButton client:load/>
    
    <main class="flex flex-col min-h-[75vh] px-8">
        <div class="grid mb-auto sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-4">
            <Module label={'BODY KEYPOINTS HEIGHT ESTIMATION'} ref={'/heightEstimation'}>
                <svg  xmlns="http://www.w3.org/2000/svg"  width={width}  height={height}  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-body-scan"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8v-2a2 2 0 0 1 2 -2h2" /><path d="M4 16v2a2 2 0 0 0 2 2h2" /><path d="M16 4h2a2 2 0 0 1 2 2v2" /><path d="M16 20h2a2 2 0 0 0 2 -2v-2" /><path d="M12 8m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M10 17v-1a2 2 0 1 1 4 0v1" /><path d="M8 10c.666 .666 1.334 1 2 1h4c.666 0 1.334 -.334 2 -1" /><path d="M12 11v3" /></svg>
            </Module>

            <Module label={'FACIAL FEATURES HEIGHT ESTIMATION'} ref={'/heightEstimationFace'}>
                <svg  xmlns="http://www.w3.org/2000/svg"  width={width}  height={height}  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-face-id"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8v-2a2 2 0 0 1 2 -2h2" /><path d="M4 16v2a2 2 0 0 0 2 2h2" /><path d="M16 4h2a2 2 0 0 1 2 2v2" /><path d="M16 20h2a2 2 0 0 0 2 -2v-2" /><path d="M9 10l.01 0" /><path d="M15 10l.01 0" /><path d="M9.5 15a3.5 3.5 0 0 0 5 0" /></svg>
            </Module>

        </div>

    </main>
    
</Layout>


