<nav class='bg-teal-700 p-4 flex justify-between items-center'>
  <a href="/" class='text-white text-lg font-bold'>COMPUTER VISION</a>
  <img src="/assets/CiDISLogo.png" alt="Centro de I + D + i de Sistemas Computacionales"  />
</nav>

<style>
  .bg-teal-700{
    background-color: #14788E;
  }
</style>